body.welcome-page {
  background: inherit;
  overflow: auto;
}
.welcome {
  background-image: url("/usr/share/jitsi-meet/images/green.jpg");
  display: flex;
}

.subject {
  top: 0px;
  margin-top: 20px!important;
}

.subject-text {
  background: #f0ad3f;
  border-radius: 3px!important;
}

.display-video .displayNameContainer {
  visibility: visible!important;
}

.display-avatar-only .displayNameContainer {
  visibility: visible!important;
}

.tile-view .displayNameContainer {
  position: absolute!important;
  bottom: 50px!important;
  left: 0px!important;
  width: 100%!important;
  z-index: 999!important;
}

.tile-view .displayName {
  left: 10px!important;
  text-align: left!important;
  width: auto!important;
  background: #f0ad3f!important;
  border-radius: 4px!important;
  font-size: 15px!important;
  font-weight: 300!important;
  padding: 5px 20px!important;
}

.show-connection-indicator > div:not(.popover-trigger):last-child {
  display: none!important;
}

.popover-trigger {
  display: none!important;
}

.videocontainer__participant-name {
  background-color: transparent!important;
}

.videocontainer__toolbar {
  text-align: left!important;
  bottom: 15px!important;
}

.subject-info-container {
  margin-right: 10px!important;
}